<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59399366621-oko6narftdrjc9nt4bma4dvo5clvbn8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59399366621-oko6narftdrjc9nt4bma4dvo5clvbn8j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>59399366621-864v6jaka7vs13t3jhmi2o09644kmnm9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbzHsuQThPlv5S1HBpbd4-ORqD4feKI4k</string>
	<key>GCM_SENDER_ID</key>
	<string>59399366621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>news-app-a6c31</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-a6c31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59399366621:ios:693bc8d79dba75c2b97834</string>
</dict>
</plist>